In [1]:
import numpy as np
import pandas as pd

In [8]:
grades=pd.read_csv('C:/Users/ak/Desktop/techbees/datasets/class-grades.csv')

In [5]:
grades.isnull().sum()

Prefix         0
Assignment     2
Tutorial      11
Midterm       16
TakeHome       8
Final          4
dtype: int64

In [6]:
grades=pd.read_csv('C:/Users/ak/Desktop/techbees/datasets/class-grades.csv',na_values=['man'])

In [12]:
grades.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          4
dtype: int64

In [11]:
grades['Tutorial']=grades['Tutorial'].replace('man',np.nan)
grades['TakeHome']=grades['TakeHome'].replace('man',np.nan)

In [13]:
grades.isnull().sum(axis=1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
11    2
12    2
13    2
14    2
15    0
16    0
17    0
18    0
19    0
20    1
21    0
22    0
23    1
24    1
25    1
26    1
27    0
28    0
29    0
     ..
69    0
70    0
71    0
72    0
73    5
74    0
75    0
76    0
77    0
78    0
79    0
80    0
81    0
82    0
83    0
84    0
85    0
86    0
87    0
88    0
89    0
90    4
91    0
92    0
93    0
94    0
95    0
96    0
97    0
98    0
Length: 99, dtype: int64

In [14]:
grades[grades.isnull().sum(axis=1)>=4]

    Prefix  Assignment Tutorial  Midterm TakeHome Final
73       7         NaN      NaN      NaN      NaN   NaN
90       8         NaN      NaN      NaN      NaN

In [15]:

grades=grades[grades.isnull().sum(axis=1)< 4/5]

In [19]:
4/len(grades.columns)

0.6666666666666666

In [16]:
grades[grades.isnull().sum(axis=1)>=4]

Empty DataFrame
Columns: [Prefix, Assignment, Tutorial, Midterm, TakeHome, Final]
Index: []

In [27]:
crimes=pd.read_csv('C:/Users/ak/Desktop/techbees/datasets/bpd_arrests.csv',na_values=['Unknown Charge','Unknown Offense'])

In [21]:
crimes.shape

(46065, 17)

In [22]:
crimes.isnull().sum()

Arrest                1798
Age                      5
Sex                      0
Race                     0
ArrestDate               0
ArrestTime               0
ArrestLocation       23118
IncidentOffense          0
IncidentLocation     23118
Charge                4306
ChargeDescription        0
District             23558
Post                 23558
Neighborhood         23558
Longitude            23470
Latitude             23470
Location 1           23470
dtype: int64

In [29]:
crimes = crimes[crimes.isnull().sum(axis=1)<10]

In [34]:
crimes.isnull().sum()

Arrest               0
Age                  0
Sex                  0
Race                 0
ArrestDate           0
ArrestTime           0
ArrestLocation       0
IncidentOffense      0
IncidentLocation     0
Charge               0
ChargeDescription    0
District             0
Post                 0
Neighborhood         0
Longitude            0
Latitude             0
Location 1           0
dtype: int64

In [32]:
crimes=crimes.dropna()

In [33]:
crimes.shape

(14518, 17)

In [53]:
#replacing missing values
grades.head(10)

   Prefix  Assignment Tutorial  Midterm    TakeHome  Final
0       5       57.14    34.09    64.38   51.480000   52.5
1       8       95.05   105.49    67.50   99.070000  68.33
2       8       83.70    83.17    30.00   63.150000  48.89
3       7       81.22    96.06    49.38  105.930000  80.56
4       8       91.32    93.64    95.00  107.410000  73.89
5       7       95.00    92.58    93.12   97.780000  68.06
6       8       95.05   102.99    56.25   99.070000     50
7       7       72.85    86.85    60.00   80.990667  56.11
8       8       84.26     93.1    47.50   18.520000  50.83
9       7       90.10    97.55    51.25   88.890000  63.61

In [44]:
grades['TakeHome']=grades['TakeHome'].dropna()

In [50]:
grades['TakeHome']=grades['TakeHome'].astype('float')

In [52]:
mean=grades['TakeHome'].mean()
grades['TakeHome']=grades['TakeHome'].replace(np.nan,mean)

In [54]:
median=grades['TakeHome'].median()
grades['TakeHome']=grades['TakeHome'].fillna(median)